<mat-form-field *ngIf="carIds">
  <mat-label>Cars</mat-label>
  <mat-select placeholder="Select Cars" [(value)]="selectedCarIds" [formControl]="carIdsFormControl" multiple required>
    <mat-option *ngFor="let carId of carIds" [value]="carId">
      {{ carId }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="carIdsFormControl.invalid">Please select at least one car</mat-error>
</mat-form-field>

<mat-tab-group *ngIf="selectedCarIds?.length" class="mat-elevation-z4" mat-stretch-tabs [backgroundColor]="'primary'"
  [color]="'accent'">
  <mat-tab label="All Info" aria-label="All Info">
    <ng-template matTabContent>
      <app-full-telemetry [carIds]="selectedCarIds"></app-full-telemetry>
    </ng-template>
  </mat-tab>
  <mat-tab label="Latest Values" aria-label="Latest Values">
    <ng-template matTabContent>
      <app-latest-telemetry [carIds]="selectedCarIds"></app-latest-telemetry>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<app-spinner *ngIf="isLoading" mode="indeterminate"></app-spinner>