$spinner-overlay-background-color: rgba(65, 81, 103, .6);

:host {
  &.spinner-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999999;
    background-color: $spinner-overlay-background-color;

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  .spinner {
    display: inline-block;
  }
}
